.git
.gitignore
.venv
venv
__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
notebooks
mlruns
mlartifacts
models_artifacts/*.pkl
models_artifacts/*.bin
models_artifacts/*.joblib
.env
.env.*
!.env.example
docker-compose*.yml
README.md
tests
